<main role="main">
    <div class="sidebar">
      <div class="sidebar-inner-index">
        <ul class="main-menu">
          <%- partial('partials/main_menu', { context: 'sidebar' }) %>
        </ul>
      </div>
    </div>
  
    <div id="hero">
      <div class="inner">
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />建设中<br /><br /><br /><br /><br /><br /><br /><br />
        </div>
      </div>
    </div>
</main>

<footer id="footer" role="contentinfo">
    <p>本站基于cn.vuejs.org，并遵循 <a href="https://opensource.org/licenses/MIT" target="_blank" rel="noopener">MIT 开源协议</a><br>
    Copyright &copy; 2021-<%- new Date().getFullYear() %> dulidev.com</p>
</footer>